.hotel-container {
  width: 100%;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 5rem;
  border-radius: 10px;
  border: 1px solid;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.hotel-container:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}
.header {
  background-image: url('../../../public/landing-image.png');
  width: 100%;
  aspect-ratio: 16 / 5;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .hotel-container {
    width: 400px;
  }
}
@media (min-width: 1280px) {
  .header {
    aspect-ratio: 10 / 3;
    background-size: cover;
  }
  .hotel-container {
    flex-direction: row;
    width: 900px;
  }
}
