.hotel-container {
  width: 100%;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 5rem;
  border-radius: 10px;
  border: 1px solid;
  padding: 2rem;
}
.hotel-container:hover {
  box-shadow: 2px 3px 2px 2px #bebebe;
}
.header {
  background-image: url('../../../public/langing-image.png');
  width: 100%;
  aspect-ratio: 16 / 5;
  /*aspect-ratio: 16 / 5 for the big screen*/
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
}
